.main {
  width:100%;
  margin:none;
  background-image: url("background2.jpg");
}

.focu {
  transition: transform 0.3s;
}

.focu:hover {
  transform: scale(1.05);
}

.jumbo {
  width: 100%;
  background-color: #CBC2D0;
  border-radius: 10px;
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #581845;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #581845;
}
